<div class="container mx-auto mt-24 w-full">
    <h1 class="text-3xl font-bold py-12">Pokédex</h1>

    <div class = "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        <div class="w-full h-20 bg-red-500">
        </div>
        <div class="w-full h-20 bg-red-500"></div>
        <div class="w-full h-20 bg-red-500"></div>
        <div class="w-full h-20 bg-red-500"></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Pokedex Name</th>
                <th>Element 1</th>
                <th>Element 2</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @pokedexes.each do |pokedex| %>
            <tr>
                <td><%= pokedex.name%></td> 
                <% if pokedex.element_1 == nil %>
                    <td>-</td>
                <% else %>
                    <td><%= pokedex.element_1%></td>

                <% end %>
                <% if pokedex.element_2 == nil %>
                    <td>-</td>
                <% else %>
                    <td><%= pokedex.element_2%></td>
                <% end %>
                <td><%= link_to 'Show', pokedex %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>