<div class="container mx-auto mt-24 w-full px-2 sm:px-4 py-4">
    <h1 class="text-3xl font-bold py-12">Battles</h1>

    <% if @battle.errors.any? %>
        <div id="error_explanation" class ="field_with_errors">
            <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

            <ul>
            <% @battle.errors.each do |error| %>
                <li><%= error.message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= render 'form', battle: @battle, pokemons: @pokemons %>
    </div>
</div>