<div class="container">
    <h1 class="page-title">Create Pokemon</h1>
    
    <form action="/pokemons" method="post" accept-charset="UTF-8">
        <label for="name">Name</label>
        <input type="text" name= "pokemon[name]">

        <input type="submit" value="Create">    
    </form>
</div>