<div class="container">
    <h1 class="page-title">Create Pokemon</h1>
    
    <form class="flex flex-col pokemon-form" accept-charset="UTF-8" action="/pokemons" method="post">
        <label for="name">Name</label>
        <input type="text" name= "pokemon[name]">
        <label for="pokedex_id">Type</label>
        <select name="pokemon[pokedex_id]" id="pokemon_pokedex_id">
            <option value="Select Pokemon"> Select Pokemon</option>
            <% @pokedexes.each do |pokedex| %>
              <option value="<%= pokedex.id %>"><%= pokedex.name%></option>
            <% end %>
        </select>

        <input type="submit" value="Create">    
    </form>
</div>